body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

header {
  padding: 0.01rem;
  background-color: #4b2473;
  color: white;
}

.img-placeholder {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #dfdfdf;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

input,
textarea {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #c5c5c5;
}

#notes {
  height: 10rem;
}

.save-button {
  display: flex;
  background-color: #4b2473;
  color: white;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.save-button:hover {
  background-color: #7b05e9;
}

ul,
li {
  margin: 0;
  padding: 0;
}

#no-entries-message {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

#navbar a {
  text-decoration: none;
  font-size: 1.5rem;
}

.button {
  display: flex;
  background-color: #4b2473;
  color: white;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #7b05e9;
}

#navbar .new-button {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
}

#view-new-entry-link {
  color: white;
}

#view-new-entry-link:hover,
#view-new-entry-link:focus {
  color: white;
}
